body {
  font-family: 'Myriad Pro', helvetica, arial, sans-serif;
  font-size: 13px;

  margin:0 auto;
  width:840px;

padding:20px;
box-sizing: border-box;
}

p {
  width:35%;
  float:left;
  clear:left;
  font-weight: 300;
  box-sizing: border-box;
  padding-right:1em;
}
  pre {

    width:65%;
    background-color:#eeeefc;
    padding:1em;
    margin-left:35%;
    clear:right;
        margin-bottom:1em;
        border-radius:3px;
        box-sizing: border-box;
  }

  code {
      background-color:#eeeefc;
      padding:0 0.4em;
  }

  pre code {
    background-color:transparent;
    padding:0;
  }

  h2 {
    margin: 1em 0 0.5em 0;
line-height: 1;
border-top:1px solid #ddd;
padding-top:1em;
clear:both;
  }


  p {
    margin:0 0 1em 0;
  }

  ul,ol {
    font-weight: 300;
  }

  li {
    margin-bottom:.5em;
  }

  h5 {
    font-weight: 500;
    font-size: 1em;
  }

  p::before,
  pre::after,
  h1:after,
  h1:before,
  h2:after,
  h2:before,
  h3:after,
  h3:before,
  h4:after,
  h4:before,
  hr:before,
  hr:after,
  img:after {
    content: " ";
    display: block;
clear: both;
margin: 0;
height: 0;
width:0;
  }

  img {
    clear:right;
    display:inline-block;
    margin: 4px auto;
    border:1px solid #eee;
  }

  hr {
    clear:both;
    margin:1em 0;
  }

.footnotes {
  margin:8em 0 4em 0;

  border:1px solid #ddd;
  padding:2em;
}
  .footnotes p {
    width:100%;
    font-size:12px;
    float:none;
  }

  .creative-commons {
    text-align:center;
  }

    .creative-commons img {
      opacity: 0.25;
    }
